/* CSS Document */
*{ margin: 0px; padding: 0px;}

a:link { text-decoration:none;}      
a:visited { text-decoration:none;}  
a:hover { text-decoration:none;}  
a:active { text-decoration:none;}



.clear{
clear:both;
}

.container{
width:680px;
height:530px;
margin-left:auto;
margin-right:auto;
margin-top:100px;
}
.unit{
width:667px;
height:477px;
padding-left:13px;
padding-top:10px;
border-style:solid;
border-width:2px;
border-color:#76be04;
}
.calendar{
width:654px;
height:465px;
background-image:url(img/clock.png);
background-repeat:no-repeat;
background-position:top;
font-family:"Myriad Pro";
font-weight:bold;
font-size:18px;
}

.days{
width:639px;
height:50px;
margin-top:9px;
margin-left:6px;
background-image:url(img/black.png);
}
.dayNames{
width:91px;
height:50px;
float:left;
text-align:center;
color:#FFFFFF;
line-height:50px;
}

.dater{
width:639px;
margin-left:6px;
}

.column{
width:74px;
padding-left:8px;
padding-right:8px;
height:416px;
border-right-style:solid;
border-right-width:1px;
border-right-color:#b3b4b4;
float:left;
}
.column:last-child{
border-right-style:none;
}

.greyBox{
background-color:#ededed;
border-style:solid;
border-width:1px;
border-color:#b5b5b5;
color:#b5b5b5;
}

.box{

margin-top:5px;
width:47px;
padding-left:11px;
padding-right:14px;
padding-top:32px;
min-height:78px;
-webkit-border-radius: 9px;
-moz-border-radius: 9px;
border-radius: 9px;
}
.box:hover{
cursor:pointer;
}
.greenBox{
background-color:#76be04;
border-style:solid;
border-width:1px;
border-color:#558a00;
color:#558a00;
}
.orangeBox{
background-color:#ffba00;
border-style:solid;
border-width:1px;
border-color:#ff7e00;
color:#ff7e00;;
}

.calendarFooter{
width:600px;
height:24px;
margin-left:20px;
margin-top:18px;
float:left;
}
.greySmallBox{
width:22px;
height:22px;
background-color:#ededed;
border-style:solid;
border-width:1px;
border-color:#b5b5b5;
float:left;
margin-right:5px;
}
p.grey{
color:#b5b5b5;
}
.greenSmallBox{
width:22px;
height:22px;
background-color:#76be04;
border-style:solid;
border-width:1px;
border-color:#558a00;
float:left;
margin-right:5px;
}
p.textBottom{
margin-top:-6px;
margin-right:20px;
float:left;
display:inline;
font-size:12px;
font-weight:normal;
font-family:"Myriad Pro";
}
p.green{
color:#558a00;
}
.orangeSmallBox{
width:22px;
height:22px;
background-color:#ffba00;
border-style:solid;
border-width:1px;
border-color:#ff7e00;
float:left;
margin-right:5px;
}
p.orange{
color:#ff7e00;
}













